body {
    margin: 25px;
    background-color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 14px;
}

.calculator {
    display: grid;
    border: solid 5px #e4e2e2;
    width: fit-content;
    padding: 10px;
    grid-template-columns: max-content max-content max-content max-content;
    column-gap: 5px;
    row-gap: 5px;
    background-color: #ececec;
}

.calculator > #disp {
    border: solid 1px #000;
    height: 25px;
    padding: 10px 5px 0px 5px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;  
    grid-column: 1 / 5;
    background-color: #FFF;
}

.calculator > button {
    height: 50px;
    width: 50px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-image: linear-gradient(-180deg, #ececec, #e0e0e0);
    box-shadow: rgba(204, 204, 204, 0.6) 0 1px 0 inset;
}

.calculator > button:hover {
    background: #bdbdbd;
}
  
.calculator > .label {
    height: 30px;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;  
    grid-column: 1 / 3;
}